body{
    color: #000;
}
.container{
    padding: 0 60px;
}
a{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.main-header{
    max-width: 1180px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Open-Sans, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 20px 0;
}
.header-top h1{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.header-top .logo-375{
    display: none;
}
.header-top .profile-basket{
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top .profile-basket .menu-pop-up{
    display: none;
    border: none;
    border-left: 1px solid #e5e5e5;
    background: none;
    margin-left: 20px;
    padding: 30px 20px 30px 20px;
}
.header-top .bag{
    margin-left: 55px;
}
.header-top .bag img{
    margin-right: 15px;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.header-bottom .main-menu{
    width: 75%;
}
.header-bottom ul{
    font-family: Open-Sans, sans-serif;
    font-size: 13px;
    font-weight: 700;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.header-bottom a{
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}
.header-bottom a:hover{
    color: #ff004a;
}
.header-bottom form{
    display: flex;
}
.header-bottom form input[type="text"]{
    color: #a8a8a8;
    font-family: Open-Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 10px;
}
.header-bottom form input[type="submit"]{
    border: none;
    width: 15px;
    background: rgba(255, 255 ,255, 0) url("../images/ico-search.png") 50% 50% no-repeat;
    content: '';
    margin-left: -15px;
    cursor: pointer;
    z-index: 20;
}

/*Slider section*/

.slider{
    max-width: 1180px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}
.slider-item{
    margin: 0;
    padding: 0;
    display: none;
}
.current-slide{
    display: block;
}
.slider .slider-item .image{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 850px;
    border: 1px solid #e5e5e5;
    z-index: 10;
}
.slider .slider-item .image-1{
    background: url("../images/slider-1.jpg") no-repeat 50% 50%;
    /*animation: fade-in .5s ease forwards;*/
}
.slider .slider-item .image-2{
    background: url("../images/slider-2.jpg") no-repeat 50% 50%;
}
.slider .slider-item .image-3{
    background: url("../images/slider-3.png") no-repeat 50% 50%;
}
@keyframes fade-in {
    0%{
        display: none;
        opacity: 0;
    }
    100%{
        display: block;
        opacity: 1;
    }
}
@keyframes fade-out {
    0%{
        display: block;
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}
.slider .slider-button{
    border: none;
    background-color: #f14a58;
    padding: 45px 10px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
.slider .arrow-left{
    left: 0;
    top: 40%;
}
.slider .arrow-right{
    right: 0;
    top: 40%;
}
.slider .pagginator{
    background-color: #f7f7f7;
    padding: 20px 0;
    width: 100%;
}
.pagginator{
    display: flex;
    justify-content: center;
}
.pagginator ul{
    width: 100px;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.pagginator li{
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #d2d2d2;
}
.pagginator .active-pagginator{
    background-color: #ff004a;
}

/*Popular section*/
.popular{
    display: flex;
    max-width: 1180px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.popular-item{
    flex: 1 0 auto;
    height: 400px;
    border: 1px solid #e5e5e5;
    position: relative;
}
.popular-item:first-of-type{
    background: url("../images/shoe-1.png") no-repeat 50% 50%;
}
.popular-item:last-of-type{
    background: #f7f7f7 url("../images/girl-1.png") no-repeat 30% 50%;
}

.popular-sign{
    position: absolute;
    top: 60px;
    right: 60px;
    text-align: center;
}
.popular-sign-768{
    display: none;
}
.popular-sign-768 dt{
    font-family: Open-Sans, sans-serif;
    color: #f14a58;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.popular-sign-768 dd{
    color: #757575;
    font-family: Crimson;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-left: 0;
}
.popular-sign dt{
    font-family: Open-Sans, sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}
.popular-sign dd{
    color: #757575;
    font-family: Crimson;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-left: 0;
}

/*New arrivals section*/
.new-arrivals{
    max-width: 1180px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    padding: 140px 0 80px 0;
}
.new-arrivals h2{
    font-size: 50px;
    font-family: Open-Sans, sans-serif;
    font-weight: 700;
    margin: 0 0 100px 0;
}
.new-arrivals .items-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.new-arrivals .items-container dt{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}
.new-arrivals .items-container dd{
    margin-left: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.new-arrivals .arrivals-button{
    margin-top: 100px;
    background: none;
    border: 1px solid #e5e5e5;
    padding: 25px 100px;
    cursor: pointer;
    font-family: Open-Sans, sans-serif;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}
.new-arrivals .arrivals-button:hover{
    border: 1px solid #f14a58;
    color: #f14a58;
}

/*Footer*/
footer{
    max-width: 1180px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex !important;
    flex-wrap: wrap;
}
footer article{
    /*flex: 1 0 40%;*/
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    border: 1px solid #e5e5e5;
    padding: 60px 55px 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer article .footer-item{
    flex: 1 0 auto;
}
footer article .footer-item h2{
    font-family: Open-Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px;
}
footer article .footer-item ul{
    list-style-type: none;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 0;
}
footer article .footer-item li{
    margin-bottom: 20px;
}
footer article:nth-of-type(2){
    flex-direction: column;
}
.footer-info{
    /*flex: 1 0 auto;*/
    display: flex;
    flex-wrap: wrap;
}
.footer-info .info-item{
    flex: 1 0 auto;
}
.footer-info .info-item dl{
    margin: 0;
}
.footer-info .info-item dt{
    font-family: Open-Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-info .info-item dd{
    margin-left: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer-info .info-item dd img{
    margin-right: 10px;
}
.footer-info .info-item dd span{
    font-weight: 700;
    justify-content: flex-start;
}
.info-description{
    margin-top: 80px;
}
.info-description p{
    font-family: Crimson, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #757575;
    line-height: 30px;
}
.info-description a{
    margin-right: 25px;
}
.footer-bottom{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px;
    border-top: none;
    font-family: Open-Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.footer-bottom p{
    margin: 0;
}
.footer-bottom .share{
    font-family: Open-Sans, sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.footer-bottom .share span{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 5px 5px 10px;
    background-color: #f4f4f4;
}
/*.footer-bottom .share span:after{
    width: 3px;
    height: 3px;
    background-color: #f4f4f4;
    transform: rotate(45deg);
    margin-left: -5px;
}*/
.footer-bottom .documents a{
    margin-right: 20px;
}

@media only screen and (max-width: 1024px){
    .container{
        padding: 0 40px;
    }

    /*Header*/
    .header-bottom{
        align-items: center;
    }
    .header-bottom .main-menu{
        width: 90%;
    }
    .header-bottom .main-menu ul{
        font-size: 12px;
    }
    .header-bottom form input[type="text"]{
        display: none;
        width: 230px;
        position: absolute;
        right: 50px;
        top: 80px;
        padding: 5px;
        -webkit-box-shadow: 0px 0px 10px 10px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 10px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 10px rgba(255,255,255,1);
    }

    /*Slider*/
    .slider .slider-button{
        display: none;
    }
    .slider .slider-item .image{
        height: 820px;
    }

    /*Popular*/
    .popular-item{
        height: 255px;
    }
    .popular-item dt{
        font-size: 22px;
    }
    .popular-item dd{
        font-size: 16px;
    }
    .popular-item:first-of-type{
        flex: 2 0 auto;
        background-size: 440px;
    }
    .popular-item:first-of-type .popular-sign{
        top: 20px;
        right: 20%;
    }
    .popular-item:last-of-type{
        flex: 1 0 auto;
        background: url("../images/popular-bag768.png") no-repeat 50% 30%;
    }
    .popular-item:last-of-type .popular-sign{
        display: none;
    }
    .popular-item:last-of-type .popular-sign-768{
        position: absolute;
        display: block;
        right: 40%;
        top: 160px;
        text-align: center;
    }

    /*New Arrivals*/
    .new-arrivals{
        padding: 100px 0 140px 0;
    }
    .new-arrivals h2{
        font-size: 40px;
    }
    .new-arrivals .new-item img{
        width: 200px;
    }
    .new-arrivals .new-item:last-of-type{
        display: none;
    }
    .new-arrivals .arrivals-button{
        font-size: 10px;
        padding: 25px 100px;
    }

    /*Footer*/
    footer article{
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-right: none;
        border-left: none;
        padding: 40px 55px 100px;
    }
    .footer-info{
        flex-direction: column;
    }
    .footer-info .info-item{
        margin-bottom: 40px;
    }
    footer .info-description p{
        display: none;
    }
    footer .info-description{
        margin-top: 50px;
    }
    .footer-bottom{
        padding: 35px 40px;
    }
}




@media only screen and (max-width: 768px){
    .container{
        padding: 0 20px;
    }

    /*Header*/
    .main-header{
        padding: 0;
    }
    .header-top{
        margin: 0;

    }
    .header-top h1{
        display: none;
    }
    .header-top .logo-375{
        display: block;
        margin-left: 20px;
    }
    .header-top .profile-basket .menu-pop-up{
        display: block;
    }
    .header-bottom{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        border-top: 1px solid #e5e5e5;
        padding-left: 20px;
    }
    .header-bottom ul{
        flex-direction: column;
    }
    .header-bottom li{
        font-size: 24px;
        margin-top: 30px;
    }
    .header-top .profile-basket a{
        display: none;
    }
    .search-form{
        margin-top: 75px;
    }
    .header-bottom form input[type="text"]{
        display: block;
        position: static;
        width: 160px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    /*Slider*/
    .slider .slider-item .image{
        background: url("../images/slider768-1.png") no-repeat 50% 40%;
        height: 530px;
    }

    /*Popular*/
    .popular-item:last-of-type{
        display: none;
    }
    .popular-item:first-of-type{
        -webkit-background-size: 370px;
        background-size: 370px;
    }

    /*New Arrivals*/
    .new-arrivals{
        padding: 60px 0 100px 0;
    }
    .new-arrivals h2{
        font-size: 26px;
        margin: 0 0 50px 0;
    }
    .new-arrivals .new-item:nth-of-type(3){
        display: none;
    }
    .new-arrivals .new-item img{
        width: 160px;
    }
    .new-arrivals .arrivals-button{
        font-size: 18px;
        padding: 25px 60px;
    }

    /*Footer*/
    footer{
        flex-direction: column;
    }
    footer article{
        padding: 20px 40px 60px;
    }
    footer article:nth-of-type(2){
        padding: 0;
    }
    .footer-info .info-item{
        padding: 40px 0 60px 20px;
        border: 1px solid #e5e5e5;
        border-top: none;
    }
    footer .info-description{
        margin: 0 0 30px 0;
        display: flex;
        justify-content: flex-end;
    }
    .footer-bottom{
        flex: 1 0 100%;
        flex-wrap: wrap;
    }
    .footer-info{
        flex-direction: row;
    }
    .footer-info .info-item dt{
        font-size: 14px;
    }
    .footer-info .info-item dd{
        font-size: 12px;
    }
    .footer-bottom{
        font-size: 10px;
        position: relative;
    }
    .footer-bottom .share{
        font-size: 14px;
    }
    .footer-bottom .share span{
        font-size: 10px;
    }
    .footer-bottom .documents{
        position: absolute;
        top: -45px;
        left: 20px;
    }

}